*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
section{
  padding: 100px 0px;
}
img{
  width: 100%;
}

/* syling header section */
.headerColor span {
  width: 25%;
  height: 5px;
  display: block;
  background: #00D8FF;
}
.headerColor span:nth-child(2) {
  background: #06CA75;
}
.headerColor span:nth-child(3) {
  background: #26547C;
}
.headerColor span:last-child {
  background: #EF476F;
}
.headerColor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
#navBar {
 background: #fff;
 padding: 25px 0px;
 transition: all 0.5s ease;
 position: sticky;
 top: 0;
 z-index: 999;
 transition: all 0.3s ease;
}

#navBar.sticky{
  padding: 20px 0px;
  box-shadow: 0px -4px 9px 1px black;
}

.container {
 width: 1140px;
 margin: auto;
 padding: 0px 15px;
}
.barWrapper {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
}
.mainMenuItem {
 list-style: none;
 display: flex;
}
.mobileMenu {
  font-size: 25px;
  display: none;
}
.mainMenuItem li a {
 display: block;
 margin-left: 25px;
 font-size: 15px;
 color: #222;
 text-transform: uppercase;
 font-family: arial;
 font-weight: 600;
 border-top: 2px solid #fff;
 padding-top: 5px;
 transition: 0.3s;
}
.mainMenuItem li:last-child a {
 background: #ef476f;
 display: block;
 border-radius: 50%;
 font-size: 13px;
 width: 25px;
 height: 25px;
 display: grid;
 place-items: center;
 color: white !important;
 margin-top: 1px;
 border: none;
}
.mainMenuItem li:first-child a{
  color: #EF476F;
  border-color: #EF476F;
}
.mainMenuItem li:hover a{
  color: #EF476F;
  border-color: #EF476F;
}

/* start slider section styling*/

#homeSlider{
  background: url("../img/1/bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 700px;
}

.sliderWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
}

.sliderWrapper .column {
  width: 50%;
}

.sliderWrapper .column.sliderLeftContent h2 {font-family: arial;font-size: 40px;text-transform: uppercase;color: #06CA75;margin-bottom: 15px;margin-top: 50px;}

.sliderWrapper .column.sliderLeftContent h1 {
    font-size: 47px;
    font-family: arial;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.sliderWrapper .column.sliderLeftContent p {
    font-family: arial;
    text-transform: capitalize;
    line-height: 25px;
    margin-bottom: 45px;
}

.sliderWrapper .column.sliderLeftContent button {
    background: #06CA75;
    border: 2px solid #06CA75;
    padding: 15px 10px;
    width: 160px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.sliderWrapper .column.sliderRightImg .mainImg img{
  width: 250px;
  position: relative;
  top: 110px;
  right: -280px;
}

.sliderWrapper .column.sliderRightImg .smallImg img{
  position: absolute;
  width: 120px;
}

.sliderWrapper .column.sliderRightImg .smallImg img:first-child{
  position: absolute;
  top: 410px;
  right: 70px;
}

.sliderWrapper .column.sliderRightImg .smallImg img:nth-child(2){
  position: absolute;
  top: 286px;
  right: 80px;
}

.sliderWrapper .column.sliderRightImg .smallImg img:nth-child(3){
  position: absolute;
  top: 180px;
  right: 180px;
  width: 85px;
}

.sliderWrapper .column.sliderRightImg .smallImg img:nth-child(4){
  position: absolute;
  top: 164px;
  right: 325px;
  width: 76px;
}

.sliderWrapper .column.sliderRightImg .smallImg img:nth-child(5){
  position: absolute;
  top: 252px;
  right: 402px;
  width: 108px;
}

.sliderWrapper .column.sliderRightImg .smallImg img:nth-child(6){
  position: absolute;
  top: 375px;
  right: 413px;
}

.sliderWrapper .column.sliderRightImg .smallImg img:last-child{
  position: absolute;
  top: 465px;
  right: 380px;
  width: 108px;
}




/* styling service1 section */

#service1 {
  background: #fff;
}
.service1Wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.single1Service {
  width: calc(33% - 20px);
  text-align: center;
  background: #06CA75;
  color: #fff;
  padding: 20px;
  border-radius: 3px;
  position: relative;
  padding-top: 55px;
  padding-bottom: 35px;
}
.single1Service .sIcon {
  width: 70px;
  height: 70px;
  background: black;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
}
.single1Service .sTitle h2 {
  font-size: 20px;
  font-family: arial;
  margin-bottom: 20px;
  position: relative;
}
.single1Service .sTitle h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  display: block;
  width: 50px;
  height: 1px;
  background: #fff;
  transform: translateX(-50%);
}
.single1Service .sTitle h2::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 50%;
  display: block;
  width: 35px;
  height: 1px;
  background: #fff;
  transform: translateX(-50%);
}
.single1Service .sDesc p {
  font-family: arial;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}
.single1Service:first-child,
.single1Service:first-child .sIcon{
  background: #06CA75;
}
.single1Service:nth-child(2),
.single1Service:nth-child(2) .sIcon{
  background: #EF476F;
}
.single1Service:last-child,
.single1Service:last-child .sIcon{
  background: #26547C;
}

/* start seo section */
#seo {
  background: #06CA75;
}
.seoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.seoWrapper .column{
  width: 50%;
}
.seoWrapper .column.seoLeft img {
  width: 462px;
}
.seoWrapper .column.seoRight h1 {
  font-size: 45px;
  color: #fff;
  font-family: arial;
  margin-bottom: 20px;
}
.seoWrapper .column.seoRight h1 span {
  color: #204768;
}
.seoWrapper .column.seoRight p {
  color: #fff;
  font-family: arial;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 25px;
}
.seoWrapper .column.seoRight button {
  background: #204768;
  border: 2px solid #204768;
  padding: 15px 15px;
  width: 150px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}


/* start service2 styling */
#serviec2 {
  background: #fff;
  display: block !important;
  padding-bottom: 530px;
}
.secTitle {
  text-align: center;
  margin-bottom: 70px;
}
.secTitle h2 {
  font-size: 40px;
  font-family: arial;
  color: #333;
  font-weight: 600;
  position: relative;
}
.secTitle h2::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 112px;
  border-bottom: 2px dotted #444;
  transform: translateX(-50%);
}

.lineImg {
  width: 400px;
  margin: auto;
  position: relative;
}
.service2Wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: -421px;
}
.single2Service {
  width: 415px;
  margin-bottom: 70px;
  position: absolute;
}
.single2Service .icon {
  width: 100px;
  float: left;
}
.single2Service .title {
  width: 294px;
  float: right;
}
.single2Service .title h2 {
  font-family: arial;
  color: #333;
  font-weight: 600;
  margin-bottom: 5px;
}
.single2Service .title p {
  color: #444;
  font-family: arial;
  font-size: 14px;
  line-height: 23px;
}
.service2Wrapper .lineImg {
  width: 360px;
  margin: auto;
}
.single2Service {
  width: 415px;
  margin-bottom: 70px;
  position: absolute;
}
.single2Service:nth-child(1) {
  left: 50px;
  top: 25px;
}
.single2Service:nth-child(1) .icon {
  float: right;
}
.single2Service:nth-child(1) .title {
  float: left;
  text-align: right;
}
.single2Service:nth-child(2) {
  right: 50px;
  top: 25px;
}

.single2Service:nth-child(3) {
  left: 50px;
  top: 300px;
}
.single2Service:nth-child(3) .icon {
  float: right;
}
.single2Service:nth-child(3) .title {
  float: left;
  text-align: right;
}
.single2Service:last-child {
  right: 50px;
  top: 300px;
}
/* start seo section */
#solution {
  background: #26547C;
}
.solutionWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.solutionWrapper .column.solutionRight{
  width: 50%;
}
.solutionWrapper .column.seoLeft img {
  width: 462px;
}
.solutionWrapper .column.solutionRight h2 {
  font-size:30px;
  color: #05B167;
  font-family: arial;
}
.solutionWrapper .column.solutionRight h1 {
  font-size: 44px;
  color: #fff;
  font-family: arial;
  margin: 10px 0px;
}
.solutionWrapper .column.solutionRight p {
  color: #fff;
  font-family: arial;
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 30px;
  width: 456px;
}
.solutionWrapper .column.solutionRight button {
  background: #05B167;
  border: 2px solid #204768;
  padding: 15px 15px;
  width: 130px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}

/* start work section styling */
section#work {
  background: #fff;
}

.workWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.singleWork {
  width: calc(25% - 20px);
  text-align: center;
  position: relative;
}

.singleWork .workIcon {
  width: 100px;
  margin: auto;
}

.singleWork .workTitle h2 {
  text-transform: uppercase;
  font-family: arial;
  font-weight: 600;
  font-size: 16px;
  color: #666;
  margin: 10px 0px;
}

.singleWork .workTitle p {
  color: #777;
  font-family: arial;
  line-height: 23px;
  font-size: 14px;
}
.singleWork::before{
  background-image: url("../img/6/arrow.png");
  background-position: right center;
  content: "";
  position: absolute;
  width: 158px;
  height: 20px;
  left: 75%;
  top: 23%;
}
.singleWork:last-child:before{
  display: none;
}

/* start study section */
section#study {
  background: #EF476F;
}

section#study .secTitle h2 {
  color: #fff;
}

section#study .secTitle h2::before {
  border: 1px dotted #fff;
}

.studyWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.singleStudy {
  width: calc(33% - 20px);
  background: #fff;
}

.studyImg {
  position: relative;
}

.singleStudy .studyInfo {
  padding: 25px;
}

.singleStudy .studyInfo h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-family: arial;
  margin-bottom: 15px;
}

.singleStudy .studyInfo h2 a {
  color: #666;
}

.singleStudy .studyInfo p {
  font-family: arial;
  color: #555;
  line-height: 23px;
  font-size: 15px;
}
.overLay {
  position: absolute;
  top: 0px;
  left: 173px;
  color: #fff;
  font-size: 200px;
  transform: translateX(-50%);
  width: 100%;
  height: 99%;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.overLay:hover{
  background: #366082f0;
  opacity: 1;
  font-size: 100px;
  cursor: pointer;
}

/* start pricing table */
section#ourPricing {
  background: #fff;
}

.pricingWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
}

.singlePricing {
  width: calc(33% - 20px);
  background: #EF476F;
  padding: 20px;
  padding-top: 70px;
  text-align: center;
  position: relative;
  border-radius: 7px;
}

.singlePricing .pricingIcon {
  width: 110px;
  height: 110px;
  border: 3px solid #ddd;
  background: black;
  color: #fff;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);
}

.pricingIcon h1 {
    font-size: 29px;
    font-family: arial;
}
.pricingIcon h1 span {
  font-size: 20px;
  margin-left: 6px;
}

.pricingTitle h2 {
  font-size: 25px;
  font-family: arial;
  color: #fff;
  margin: 35px 0px;
}

.pricingTitle ul {
  list-style: none;
  color: #fff;
  font-family: arial;
  line-height: 40px;
  font-weight: 600;
  margin-bottom: 40px;
}

.pricingBtn button {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 13px;
  width: 150px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 30px;
  transition: 0.3s;
}


.singlePricing:first-child,
.singlePricing:first-child .pricingIcon{
  background: #EF476F;
}

.singlePricing:first-child .pricingBtn button:hover{
  color: #EF476F;
  background: #fff;
  cursor: pointer;
}

.singlePricing:nth-child(2),
.singlePricing:nth-child(2) .pricingIcon{
  background: #06CA75;
}

.singlePricing:nth-child(2) .pricingBtn button:hover{
  color: #06CA75;
  background: #fff;
  cursor:pointer
}

.singlePricing:last-child,
.singlePricing:last-child .pricingIcon{
  background: #26547C;
}

.singlePricing:last-child .pricingBtn button:hover{
  color: #26547C;
  background: #fff;
  cursor: pointer;
}
/* testomonial section design */

section#testemonial {
  background: #06CA75;
}

.monialWrappper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.singleMonial {
  width: calc(33% - 20px);
  color: #fff;
}

.leftImg img {
  width: 85px;
  border-radius: 50%;
  object-fit: cover;
  float: left;
}

.rightInfo h2 {
  font-size: 20px;
  font-family: arial;
  color: #fff;
  margin-bottom: 10px;
  padding-top: 5px;
}

.rightInfo p {
  display: block;
  margin-bottom: 32px;
  font-family: arial;
}

.rightInfo {
  width: 246px;
  float: right;
}

.aboutContent {
  width: 100%;
  display: block;
}

.aboutContent p {
  display: block;
  margin-top: 20px !important;
}

.aboutContent p {
  font-family: arial;
}

.aboutSelf {
  margin-bottom: 20px;
  display: block;
  overflow: hidden;
}

/* start blog section design */
section#blog {
  background: #fff;
}

.blogWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.singleblog{
  width:calc(50% - 30px);
}

.singleblog span{ 
  color: #989898;
  font-family: arial black;
  margin-bottom: 10px;
  display: block;
}

.singleblog h1 {
  font-size: 27px;
  font-family: arial;
  color: #666;
  line-height: 34px;
  margin-bottom: 20px;
  transition: 0.3s;
}

.singleblog h1:hover{
  color: #06ca75;
  cursor: pointer;
}

.singleblog p {
  font-family: arial;
  color: #666;
  font-size: 15px;
  margin-bottom: 30px;
  line-height: 25px;
}

.singleblog button {
  color: #06CA75;
  border: 2px solid #06CA75;
  padding: 15px;
  width: 160px;
  background: #fff;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
}

.singleblog button:hover {
  color: #fff;
  background: #06CA75;
  cursor: pointer;
}

/* start contact secion design */
section#contactUs {
  background: #26547C;
}

section#contactUs .secTitle h2 {
  color: #fff;
}

section#contactUs .secTitle h2::before {
  border: 1px dotted #fff;
}

.contactWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contactWrapper .column {
  width: 50%;
}

.contactWrapper .column.rightSite input {
  width: 47%;
  padding: 13px 10px;
  background: transparent;
  color: #9a9a9a;
  border: 1px solid #9a9a9a;
  margin-bottom: 20px;
}

.contactWrapper .column.rightSite input:first-child,.contactWrapper .column.rightSite input:nth-child(3) {
  margin-right: 15px;
}

.contactWrapper .column.rightSite textarea {
  width: 100%;
  padding: 15px 10px;
  background: transparent;
  color: #9a9a9a;
  border: 1px solid #9a9a9a;
  height: 125px;
  margin-bottom: 20px;
}

.contactWrapper .column.rightSite input:last-child{
width: 150px !important;
transition: all 0.3s ease 0s;
}

.contactWrapper .column.rightSite input:last-child:hover{
  background: #fff;
  color:#26547C;
  cursor: pointer;
}

.contactWrapper .column.leftSite img {
  width: 515px;
  height: 320px;
  object-fit: cover;
  border: 2px solid #9a9a9a;
}

/* start footer section design */
footer#footerSection {
  background: #2b2b2b;
  color: #fff;
}

.footerWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 110px 0px;
}

.footerWrapper .singleFoot {
  width: calc(25% - 20px);
  position: relative;
}

.singleFoot img {
  width: 185px;
  margin-bottom: 25px;
}

.singleFoot p {
  font-family: arial;
  font-size: 15px;
  line-height: 23px;
}

.singleFoot h2 {
  font-family: arial;
  margin-bottom: 40px;
}

.singleFoot h2 span {
  color: #06ca75;
}

.singleFoot ul {
  list-style: none;
  font-family: arial;
  font-size: 14px;
  line-height: 25px;
}

.singleFoot input {
  margin-top: 20px;
  padding: 7px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  width: 70%;
  margin-bottom: 20px;
}

.footSocilIcon a {
  font-size: 17px;
  width: 25px;
  height: 25px;
  background: transparent;
  display: block;
  float: left;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: #fff;
  margin-right: 10px;
  transition: 0.3s;
}

.footSocilIcon a:hover{
  background: #06CA75;
  color: #fff;
}

.singleFoot button {
  border: 1px solid #06CA75;
  background: #06CA75;
  display: block;
  height: 34px;
  width: 60px;
  position: absolute;
  border: none;
  top: 134px;
  right: 44px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.copyRightContainer {
  background: #212121;
  color: #fff;
  padding: 25px;
  font-family: arial;
  font-size: 15px;
  align-items: center;
  overflow: hidden;
}

.copyRightContainer .leftContent {
  width: 40%;
  overflow: hidden;
  float: left;
}

.copyRightContainer .leftContent P span{
  color: #EF476F;
}

.copyRightContainer .rightContent {
  width: 40%;
  float: right;
  overflow: hidden;
  text-align: right;
}
/* end */

/* start responsive */
@media(max-width:768px){
  .container {
    width: 100%;
}
  .singleWork {
    width: 100%;
    margin-bottom: 25px;
}

  .singleWork::before{
    display: none;
  }
  .single1Service {
    width: 100%;
    margin-bottom: 80px;
}
#service1 {
  padding-top: 200px;
}
.seoWrapper .column {
  width: 100%;
  margin-bottom: 50px;
}

.solutionWrapper .column.solutionRight {
  width: 100%;
  margin-bottom: 50px;
}

.solutionWrapper .column.solutionRight h1 {
  font-size: 40px;
}
.singleStudy {
  width: 100%;
  margin-bottom: 30px;
}
.overLay {
  left: 226px;
}
.singlePricing {
  width: 100%;
  margin-bottom: 100px;
}

.singleMonial {
  width: 100%;
}

.rightInfo {
  width: 350px;
}
.singleblog {
  width: 100%;
  margin-bottom: 50px;
}

.contactWrapper .column {
  width: 100%;
  margin-bottom: 50px;
}

.contactWrapper .column.leftSite img {
  width: 100%;
}

.contactWrapper .column.rightSite input {
  width: 100%;
}
.menu {
  width: 100%;
  height: 100vh;
  background: #1b1b1b;
  position: fixed;
  top: 0;
  left: -100%;
  padding-top: 50px;
  transition: all 0.3s ease;
}

ul.mainMenuItem {
  display: block;
}

ul.mainMenuItem li a {
  display: block;
  border: none;
  color: #fff;
  text-align: center;
  margin-top: 30px;
}
.mainMenuItem li:last-child a{
  display: none;
}
.mobileMenu {
  display: block !important;
  z-index: 999;
}

.lineImg {
  display: none;
}

.service2Wrapper {
  margin: 0px;
  display: block;
  padding-bottom: 100px;
}

.single2Service:nth-child(1) {
  left: 0;
  top: 0;
}

.single2Service:nth-child(2) {
  top: 147px;
  left: 0px;
}

.single2Service:last-child {
  top: 452px;
}




}/*responsive website*/
.showMenu{
  left: 0px;
}